.card {
  background: var(--white);
  border-radius: var(--radius-card);
}

.dp2 {
  box-shadow: var(--shadow-dp2);
}

.dp6 {
  box-shadow: var(--shadow-dp6);
}

.inner {
  box-shadow: var(--shadow-inner);
}

.none {
  box-shadow: none;
}
